<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rgs.web_demo.mapper.MemberMapper">

	<!-- 회원 1명 조회 (이메일 기준) -->
	<select id="selectMemberByEmail" parameterType="string"
		resultType="com.rgs.web_demo.vo.MemberVo">
		SELECT *
		FROM member
		WHERE email = #{email}
	</select>

	<!-- 회원 등록 -->
	<insert id="insertMember" parameterType="com.rgs.web_demo.vo.MemberVo">
		INSERT INTO member (
		name,
		phone_number,
		member_type,
		email,
		password,
		created_at,
		updated_at,
		is_deleted
		) VALUES (
		#{name},
		#{phoneNumber},
		#{memberType}::member_type,
		#{email},
		#{password},
		CURRENT_TIMESTAMP,
		CURRENT_TIMESTAMP,
		FALSE
		)
	</insert>

</mapper>
